<!-- Onderdeel van het opstellen van het onderzoeksmodel waarbij de kernvariabele welke onderdeel is van het model
 getoond wordt en de mogelijkheid wordt gegeven om deze variabele te verwijderen.-->
        <tr>
            <td>
                {{ core_variable.abbreviation }}
            </td>
            <td>
                {{ core_variable.name }}
            </td>
            <td>
                <button type="button" onclick="window.location.href='{{ url_for('new_study.remove_core_variable',
                study_code=study.code, corevariable_id=core_variable.id) }}';">
                    Delete Variable
                </button>
            </td>
        </tr>
