<!-- Onderdeel van het opstellen van het onderzoeksmodel waarbij de relatie welke onderdeel is van het model
 getoond wordt en de mogelijkheid wordt gegeven om deze relatie te verwijderen.-->
        <tr>
            <td>
                {{ relation.return_relation() }}
            </td>
            <td>
                <button type="button" onclick="window.location.href='{{ url_for('new_study.remove_relation',
                study_code=study_code, id_relation=relation.id) }}';">
                    Delete Relation
                </button>
            </td>
        </tr>
