{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form, render_field %}

{% block app_content %}
  <link rel="stylesheet" href="{{ url_for('static', filename='style_corevariable_analysis.css') }}">
  <div class="corevariable-infotable">
    <div class="corevariable-namebox">
      <p class="corevariable-name">{{ corevariable.name }}</p>
    </div>
    <div class="corevariable-abbreviationbox">
      <p class="corevariable-abbreviation">({{ corevariable.abbreviation }})</p>
    </div>
    <div class="corevariable-descriptionbox">
      <p class="corevariable-description">{{ corevariable.description }}</p>
    </div>
  </div>
  <div>
      <canvas id="myChart"></canvas>
  </div>

  <script>
          const labels = [
              'January',
              'February',
              'March',
              'April',
              'May',
              'June',
          ];
          const data = {
              labels: labels,
              datasets: [{
                label: 'My First dataset',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: [0, 10, 5, 2, 20, 30, 45],
              }]
          };

          const config = {
              type: 'bar',
              data: data,
              options: {
                scales: {
                  y: {
                    beginAtZero: true
                  }
                }
              },
          };

          const myChart = new Chart(
            document.getElementById('myChart'),
            config
          );
  </script>
{% endblock %}

