{% from 'bootstrap/form.html' import render_form, render_field %}

{% block app_content %}
  <link rel="stylesheet" href="{{ url_for('static', filename='style_data_analysis.css') }}">
  <div class="title-box">
        <h1>Construct validity and reliability</h1>
  </div>
  <section class="wrapper">
    <!-- Row title -->
    <main class="row title">
      <ul>
        <li>Latent Variable</li>
        <li>Cronbach's Alpha</li>
        <li>Composite Reliability</li>
        <li>AVE</li>
      </ul>
    </main>
    <!-- Row 1 - fadeIn -->
    {% set dictionary = data_construct_validity %}
    {% for variable in dictionary %}
    <section class="row-fadeIn-wrapper">
      <article class="row fadeIn nfl">
        <ul>
          <li><a href="#">{{ variable.name }}</a></li>
          <li>{{ dictionary[variable][0] }}</li>
          <li>{{ dictionary[variable][1] }}</li>
          <li>{{ dictionary[variable][2] }}</li>
        </ul>
        <ul class="more-content">
          <li>{{ variable.description }}</li>
        </ul>
      </article>
    </section>
    {% endfor %}
  </section>
{% endblock %}