{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form, render_field %}

{% block app_content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style_data_analysis.css') }}">
    <div class="evaluation">
        <h1 class="evaluation-header">Evaluation of measurement model</h1>
        <div class="evaluation-category">
            <h2 class="evaluation-subheader">Construct Reliability and Validity</h2>
            <div class="evaluation-criterium">
                <div class="evaluation-criterium-arrowbox">
                    <img class="evaluation-criterium-arrow" src="https://icons.veryicon.com/png/o/miscellaneous/general-icon-collection-face-right-angle/arrow-right-40.png">
                </div>
                <div class="evaluation-criterium-namebox">
                    <h2 class="evaluation-criterium-name">Cronbach's Alpha</h2>
                </div>
            </div>
            <div class="evaluation-criterium">
                <div class="evaluation-criterium-arrowbox">
                    <img class="evaluation-criterium-arrow" src="https://icons.veryicon.com/png/o/miscellaneous/general-icon-collection-face-right-angle/arrow-right-40.png">
                </div>
                <div class="evaluation-criterium-namebox">
                    <h2 class="evaluation-criterium-name">Composite Reliability</h2>
                </div>
            </div>
            <div class="evaluation-criterium">
                <div class="evaluation-criterium-arrowbox">
                    <img class="evaluation-criterium-arrow" src="https://icons.veryicon.com/png/o/miscellaneous/general-icon-collection-face-right-angle/arrow-right-40.png">
                </div>
                <div class="evaluation-criterium-namebox">
                    <h2 class="evaluation-criterium-name">Average Variance Extracted (AVE)</h2>
                </div>
            </div>
        </div>
        <div class="evaluation-category">
            <h2 class="evaluation-subheader">Discriminant Validity</h2>
            <div class="evaluation-criterium">
                <div class="evaluation-criterium-arrowbox">
                    <img class="evaluation-criterium-arrow" src="https://icons.veryicon.com/png/o/miscellaneous/general-icon-collection-face-right-angle/arrow-right-40.png">
                </div>
                <div class="evaluation-criterium-namebox">
                    <h2 class="evaluation-criterium-name">Heterotrait-Monotrait Ratio (HTMT)</h2>
                </div>
            </div>
        </div>
    </div>
    <section class="wrapper">
        <!-- Row title -->
        <main class="row title">
          <ul>
            <li>LV Name</li>
            <li>Cronbach's Alpha</li>
            <li>Composite Reliability</li>
            <li>AVE</li>
          </ul>
        </main>
        <!-- Row 1 - fadeIn -->
        {% set dictionary = data_construct_validity %}
        {% for variable in dictionary %}
        <section class="row-fadeIn-wrapper">
          <article class="row fadeIn nfl">
            <ul>
              <li><a href="#"> {{ variable }} </a></li>
              <li>{{ dictionary[variable][0] }}</li>
              <li>{{ dictionary[variable][1] }}</li>
              <li>{{ dictionary[variable][2] }}</li>
            </ul>
            <ul class="more-content">
              <li>This 1665-player contest boasts a $300,000.00 prize pool and pays out the top 300 finishing positions. First place wins $100,000.00. Good luck!</li>
            </ul>
          </article>
        </section>
        {% endfor %}
    </section>
{% endblock %}