{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form, render_field %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style_index.css') }}">
    <div class="content-container">
        <div class="vertical-menu">
          <a href="#" class="active">Home</a>
          <a href="{{ url_for('new_study.new_study') }}">Create New Study</a>
          <a href="{{ url_for('main.current_studies') }}">View Conducted Studies</a>
        </div>
        <p id="demo">Hi!</p>
        <button type="button" onclick="Cint()">Try it</button>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='script_index.js') }}"></script>
{% endblock %}